.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.gradient {
  background: rgb(42, 61, 113);
  background: -moz-radial-gradient(
    circle,
    rgba(42, 61, 113, 1) 0%,
    rgba(49, 19, 56, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(42, 61, 113, 1) 0%,
    rgba(49, 19, 56, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(42, 61, 113, 1) 0%,
    rgba(49, 19, 56, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a3d71",endColorstr="#000000",GradientType=1);
}
